       
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4; 
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }

      
        #resume-container {
            display: flex; 
            max-width: 1000px; 
            margin: 50px auto; 
            background-color: white; 
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
        }

        .sidebar-left {
            flex: 0 0 42%; 
            background-color: #90BEDE; 
            padding: 30px 25px;
            
        }

        .main-content-right {
            flex: 1; 
            padding: 30px 40px;
        }


        header {
            text-align: left;
            padding-bottom: 20px;
            border-bottom: 2px solid #ccc;
            margin-bottom: 30px;
        }

       
        .profile-photo {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
            display: block;
            margin: 0 auto 20px auto;
            border: 4px solid white;
        }

        h1 {
            font-size: 2.2rem;
            margin-bottom: 0px;
            
        }

        h2 {
            border-bottom: 2px solid #d4e0e8;
            padding-bottom: 5px;
           color: #3a3a3a;
            margin-top: 30px;
            margin-bottom: 15px;
        }
        
        .inspiration {
            font-family: "Story Script", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 1.1rem;
            margin-top: 10px;
            color: #004d80;
        }

        .skills-row {
            display: flex;
            gap: 20px;
            margin-bottom: 15px;
        }
        .skill-item {
            display: flex;
            flex-direction: column; 
            align-items: center; 
            text-align: center;
        }

        
        .experience ul {
            list-style: disc;
            padding-left: 20px;
            margin-bottom: 30px;
        }
        .experience ul li {
            margin-bottom: 10px;
        }
        .experience img {
            display: block;
            margin-top: 15px; 
            width: 100%;
            height: auto;
            max-width: 300px;
        }
        
        #personal-info  {
            font-weight: bold;
            display: inline-block;
            margin-right: 15px;
            font-size: 18px;
            
        }

        #personal-info li{
            font-weight: normal;
            font-size: 18px;
            
        }
        .contacts{
            font-size: 18px;
        }
        
        @media (max-width: 768px) {
            #resume-container {
                flex-direction: column; 
                margin: 0;
            }
            .sidebar-left, .main-content-right {
                flex: none;
                width: 100%;
                padding: 20px;
            }
        }